{% macro aviary_image_file_input(name, slug, src, feed_type, crop) %}
  <section class="aviary background-image-input {{ slug }}" data-aviary-type="{{ slug }}"
           data-theme="light"
           {% if crop %}
             data-force-crop-preset='["{{ name }}", "{{ crop }}"]'
             data-force-crop-message="{{ _('Crop the image to these dimensions.') }}"
           {% endif %}>

    {# Image URL input. #}
    <input class="aviary-url" type="url" novalidate
           placeholder="{{ _('Enter an image URL or select a file:') }}">

    {# Image input. #}
    <div class="fileinput" data-fileinput>
      <div data-fileinput-fake>
        <a class="button s">{{ _('Browse...') }}</a>
      </div>
      <input type="file" accept="image/*" name="background-image-{{ slug }}"
             novalidate>
    </div>
    <a class="button s cancel clear-image">{{ _('Clear') }}</a>

    {# Data URI. #}
    <input class="processed-aviary-url" type="hidden" name="image-{{ slug }}" value="{{ src if src }}">

  </section>
{% endmacro %}
