<form class="c">

  <div id="shelf-form">
    {% include "fields/locale.html" %}

    <section class="island">
      <h2>{{ _('New Operator Shelf') }}</h2>
      {% include "fields/shelf/title.html" %}
      {% include "fields/shelf/slug.html" %}
      {% include "fields/shelf/description.html" %}
      {% include "fields/shelf/images.html" %}
    </section>

    <section class="island apps apps-multiple">
      {% include "fields/apps/multiple.html" %}
    </section>

    <section class="island submit">
      <button class="button" type="submit">{{ _('Submit') }}</button>
    </section>

  </div>

  <div id="shelf-preview">

    <section data-for="feed">
      <h3>{{ _('Feed') }}</h3>
      <div class="phone">
        <div class="screen">
          <div class="item">
            <img id="aviary-feed-banner" class="preview" data-aviary-type="feed-banner" src="/media/img/sample/feed.jpg">
            <div class="curve" data-region="{{ current_operator.region }}" data-carrier="{{ current_operator.carrier }}"></div>
            <div class="title" data-placeholder="{{ _("Example Title") }}">{{ _("Example Title") }}</div>
          </div>
        </div>
      </div>
    </section>

    <section data-for="detail">
      <h3>{{ _('Detail') }}</h3>
      <div class="phone">
        <div class="screen">
          <div class="item">
            <img id="aviary-shelf-landing" class="preview" data-aviary-type="shelf-landing" src="/media/img/sample/detail.jpg">
            <div class="curve" data-region="{{ current_operator.region }}" data-carrier="{{ current_operator.carrier }}"></div>
            <div class="title" data-placeholder="{{ _("Example Title") }}">{{ _("Example Title") }}</div>
          </div>
          <div class="description"></div>
        </div>
      </div>
    </section>

  </div>

</form>
