{% if obj %}
  <form class="c" id="shelf-edit" data-slug="{{ obj.slug }}">
{% else %}
  <form class="c" id="shelf-create">
{% endif %}

  <div id="shelf-form">
    {% include 'fields/locale.html' %}

    <section class="island">
      <h2>{{ title or _('New Operator Shelf') }}</h2>
      {% include 'fields/shelf/title.html' %}
      {% include 'fields/shelf/slug.html' %}
      {% include 'fields/shelf/description.html' %}
      {% include 'fields/shelf/images.html' %}
    </section>

    <section class="island apps apps-multiple">
      {% include 'fields/apps/multiple.html' %}
    </section>

    <section class="island buttons">
      <button class="button submit" type="submit">{{ _('Submit') }}</button>
      {% if obj %}
        <button class="button cancel delete">{{ _('Delete') }}</button>
      {% endif %}
       <div class="form-errors"></div>
    </section>

  </div>

  {% include 'fields/shelf/preview.html' %}

</form>
