{% include '_macros/shelf.html' %}

<section class="main island">
  <p>
    <a href="{{ url('late_customization') }}">{{ _("Manage late customization set") }}</a>
  </p>
</section>

<section class="main island">

  {% defer (url=api('feed-shelf-mine'), nocache=true) %}
    {% set active = this|for_current|active %}
    {% set inactive = this|for_current|inactive %}

    {% if active|length %}
      <h2>{{ _('Active Shelf') }}</h2>
      <ul class="active-shelf">
      {% for item in active %}
        {{ shelf(item) }}
      {% endfor %}
      </ul>
    {% endif %}

    {% if inactive|length %}
      <h2>
        {{ _plural('Inactive Shelf', 'Inactive Shelves', n=inactive|length) }} 
        <span class="count">({{ inactive|length }})</span>
      </h2>
      <ul class="inactive-shelves">
      {% for item in inactive %}
        {{ shelf(item) }}
      {% endfor %}
      </ul>
    {% endif %}

    {% if not inactive|length and not active|length %}
      <p>{{ _('There are no operator shelves.') }} <a href="{{ url('shelf_create') }}">{{ _('Create one?') }}</a></p>
    {% else %}
      <a href="{{ url('shelf_create') }}" class="create"><i class="fa fa-plus"></i>{{ _('New Shelf') }}</a>
    {% endif %}

  {% placeholder %}
    <p>{{ _('Loading...') }}</p>
  {% empty %}
    <p>{{ _('There are no operator shelves.') }} <a href="{{ url('shelf_create') }}">{{ _('Create one?') }}</a></p>
  {% end %}
 
</section>
