{% macro shelf(shelf) %}
  <li data-slug="{{ shelf.slug }}">
    <a href="{{ url('shelf_edit', [shelf.slug]) }}" class="shelf">
      <h3>{{ shelf.name|translate(shelf) }}</h3>
      <img src="{{ shelf.apps[0].icons[32] }}">
      <span class="meta">{{ shelf.slug }} &mdash; {{ shelf.apps|length }} {{ _plural('App', 'Apps', n=shelf.apps|length) }} </span>
    </a>
    {% if shelf.is_published %}
      <button class="button t cancel deactivate">{{ _('Deactivate') }}</button>
    {% else %}
      <button class="button t action activate">{{ _('Activate') }}</button>
    {% endif %}
  </li>
{% endmacro %}
