.site-header {
    height: auto;
    min-height: 60px;
    max-height: 110px;
}

.email {
    margin-right: 10px;
}

#operator_selection {
    align-items: center;
    background: #E0E0E0;
    display: none;
    height: 0;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
    position: relative;
    transition: all 150ms linear;
    z-index: -1;

    .logged-in & {
        display: flex;
    }

    .show-operator_selection & {
        height: 50px;
        opacity: 1;
    }

    label {
        color: #666;
        display: inline-block;
        margin: 0;
        text-transform: uppercase;
        width: auto;
    }

    select {
        margin: 0 10px;
        text-transform: none;
        
        &:focus {
            border-color: #4CB1FF;
            box-shadow: none;
            outline: 0;
        }
    }
    
    button {
        font-size: 12px;
    }
}

#current_operator {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background: 0;
    color: #1A1A1A;
    display: none;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 0;

    .logged-in & {
        display: block;
    }

    &:hover {
        text-decoration: underline;
    }

    &:after {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #0099D0;
        content: '';
        display: inline-block;
        height: 0;
        margin: 0 0 2px 10px;
        width: 0; 

        .show-operator_selection & {
            border-bottom: 7px solid #0099D0;
            border-top: 0;
        }
    }
}

[data-page-type="error"],
[data-page-type="unauthorized"] {
    #current_operator,
    #operator_selection {
        display: none;
    }
}

[data-operator-count="0"],
[data-operator-count="1"] {
    #operator_selection {
        display: none !important;
    }
    #current_operator {
        cursor: default;
        &:hover {
            text-decoration: none;
        }
        &:after {
            display: none;
        }
    }
}
